.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  background-color: white;
  text-align: center;
  padding-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: black;
}

.setting-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

label {
  font-size: 18px;
  margin-bottom: 8px;
}

input {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
}

button,
.confirm-btn,
.toggle-btn,
.nav-btn,
#leaderboard-btn {
  background: linear-gradient(135deg, #ffafbd, #ffc3a0);
  color: #222;
  font-weight: bold;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}


button:hover,
.confirm-btn:hover,
.toggle-btn:hover,
.nav-btn:hover,
#leaderboard-btn:hover {
  box-shadow: 0 0 15px rgba(255, 182, 193, 0.7);
  transform: scale(1.05);
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  position: absolute;
  bottom: 30px;
}

.nav-btn {
  width: 180px;
}
