.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
  color: black;
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.bottom-buttons button {
  background-color: lightgray;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
