<div class="quiz-container">
  <h1>Question {{currentIndex + 1}}</h1>

  <div class="question-container">
    <p>{{ question }}</p>

    <form>
        <input type="radio" id="answer0" name="quizAnswer" [value]="answers[0]" [(ngModel)]="chosen" (change)="quizService.playClick()">
        <label for="answer0">{{ answers[0] }}</label>
        <br>

        <input type="radio" id="answer1" name="quizAnswer" [value]="answers[1]" [(ngModel)]="chosen" (change)="quizService.playClick()">
        <label for="answer1">{{ answers[1] }}</label>
        <br>

        <input type="radio" id="answer2" name="quizAnswer" [value]="answers[2]" [(ngModel)]="chosen" (change)="quizService.playClick()">
        <label for="answer2">{{ answers[2] }}</label>
        <br>

        <input type="radio" id="answer3" name="quizAnswer" [value]="answers[3]" [(ngModel)]="chosen" (change)="quizService.playClick()">
        <label for="answer3">{{ answers[3] }}</label>
        <br>
    </form>

  </div>

  <div class="bottom-buttons">
    <button class="previous-btn" (click)="quizService.playButton(); previousQuestion()">Back</button>
    <button class="next-btn" (click)="quizService.playButton(); nextQuestion()" *ngIf="questions?.length && currentIndex < questions.length - 1" >Next</button>
    <button class="submit-btn"  (click)="quizService.playButton(); submitQuiz()" *ngIf="questions?.length && currentIndex === questions.length - 1" >Submit</button>
  </div>
</div>
