.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

button,
.start-btn,
.bottom-buttons button,
#leaderboard-btn {
  background: linear-gradient(135deg, #ffafbd, #ffc3a0);
  color: #222;
  font-weight: bold;
  border: none;
  padding: 12px 35px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}


button:hover,
.start-btn:hover,
.bottom-buttons button:hover,
#leaderboard-btn:hover {
  box-shadow: 0 0 15px rgba(255, 182, 193, 0.7);
  transform: scale(1.05);
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 40px;
}

.bottom-buttons button {
  margin: 0 10px;
}

/* ----- */

.answer {
  margin: 0 0 1rem 0;
}

input[type="radio"] {
  transform: scale(1.5); /* 1.0 = default size */
  margin-right: 8px;     /* add spacing from label */
}