<div class="quiz-container">
  <h1>Question {{currentIndex + 1}}/{{ questions.length }}</h1>

  <div class="question-container">
    <p>{{ question }}</p>

    <form>
      <div class="answer">
        <input type="radio" id="answer0" name="quizAnswer" (change)="quizService.playClick()" [value]="answers[0]" [(ngModel)]="chosen"  >
        <label for="answer0">{{ answers[0] }}</label>
      </div>

      <div class="answer">
        <input type="radio" id="answer1" name="quizAnswer" (change)="quizService.playClick()" [value]="answers[1]" [(ngModel)]="chosen">
        <label for="answer1">{{ answers[1] }}</label>
      </div>

      <div class="answer">
        <input type="radio" id="answer2" name="quizAnswer"(change)="quizService.playClick()" [value]="answers[2]" [(ngModel)]="chosen">
        <label for="answer2">{{ answers[2] }}</label>
      </div>

      <div class="answer">
        <input type="radio" id="answer3" name="quizAnswer"  (change)="quizService.playClick()" [value]="answers[3]" [(ngModel)]="chosen">
        <label for="answer3">{{ answers[3] }}</label>
      </div>
    </form>

  </div>

  <div class="bottom-buttons">
    <button class="previous-btn" (click)="this.quizService.playButton()" (click)="previousQuestion()">Back</button>
    <button class="next-btn" *ngIf="questions?.length && currentIndex < questions.length - 1" (click)="this.quizService.playButton()" (click)="nextQuestion()">Next</button>
    <button class="submit-btn" *ngIf="questions?.length && currentIndex === questions.length - 1" (click)="this.quizService.playButton()" (click)="submitQuiz()">Submit</button>
  </div>
</div>
